/**/
html,
body {
  font-family: Helvetica, Roboto, Arial, "Lucida Grande", sans-serif;
  //@TODO set for title helv and fallback on roboto an body in roboto
  // font-family: "Roboto";
  font-size: em(16);
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}
h1 {
  margin: 0.25em;
}
h2.story-big-title {
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  color: #333;
  line-height: 64px;
  margin-top: 0;
  margin-bottom: rem(200);
}
h2.reset-bottom-margin {
  margin-bottom: rem(50);
}
/* 01 ROLL TO SET TIME: */
.steps-title,
.story-sub-title {
  font-weight: 500;
  font-size: 20px;
  color: #333;
  letter-spacing: 4px;
}
.steps-title--number {
  color: #dad8d8;
  margin-right: em(10);
}
/* paragraph
font-family: Roboto-Thin; */
p {
  font-family: Roboto;
  font-weight: 100;
  font-size: 20px;
  color: #999;
  line-height: 30px;
}
.steps-txt {
  margin-bottom: rem(60);
}
p.first {

}
p.last {
  margin-bottom: rem(60);
}
/* read more: */
.read-more {
  // font-family: Helvetica;
  // font-weight: 500;
  font-size: 16px;
  color: #000;
  letter-spacing: 4px;
  text-decoration: none;
}
h4.story-sub-sub-title {
  /* These 30 minutes can.. */
  font-family: Roboto;
  font-weight: 100;
  font-size: 28px;
  color: #999;
  line-height: 40px;
}
