/**/
$nav-font-family: Helvetica, Roboto, Arial, "Lucida Grande", sans-serif;

/**/
html {
    font-family: Helvetica, Roboto, Arial, "Lucida Grande", sans-serif;
    // font-family: "Roboto";
    font-size: 100%;
    text-rendering: geometricPrecision;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}

h1 {
    margin: 0.25em;
}

.story-big-title {
    text-align: center;
    font-weight: 700;
    font-size: rem(60);
    color: #333;
    line-height: 64px;
    margin-top: 0;
    margin-bottom: rem(200);
    @include media($mobile) {
        font-size: em(30);
        margin-bottom: em(24);
        line-height: em(24);
    }
}

.reset-bottom-margin {
    margin-bottom: rem(50);
}

/* 01 ROLL TO SET TIME: */
.steps-title,
.story-sub-title {
    font-weight: 500;
    font-size: 20px;
    color: #333;
    letter-spacing: 4px;
}

.steps-title--number {
    color: #dad8d8;
    margin-right: em(10);
}

/* paragraph
font-family: Roboto-Thin; */
p {
    font-family: Roboto;
    font-weight: 100;
    font-size: 20px;
    color: #5F5F5F;
    line-height: 30px;

    @include media($mobile) {
        font-size: 18px;
    }
}

.steps-txt {
    margin-bottom: rem(60);
    padding-left: rem(42);
}

p.last {
    margin-bottom: rem(60);
}

/* read more: */
.read-more {
    // font-family: Helvetica;
    // font-weight: 500;
    font-size: 16px;
    color: #000;
    letter-spacing: 4px;
    text-decoration: none;
    // padding-bottom: 1rem;
    padding-top: 0.7rem;

    &:hover{
      // border-bottom: 1px solid #4a90e2;
      color: #4a90e2;
    }
}

.story-sub-sub-title {
    /* These 30 minutes can.. */
    font-family: Roboto;
    font-weight: 100;
    font-size: 28px;
    color: #999;
    line-height: 40px;
    @include media($mobile) {
        font-size: 20px;
        color: #999;
        line-height: 28px;
        padding: 0 10%;
    }
}
